.pOne {
  font-weight: 400;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #14786a;
  text-decoration-line: underline;
  text-decoration-color: #14786a;
}

.typeEV h1 {
  color: #fff !important;
  text-decoration-line: underline;
  text-decoration-color: #fff;
}

.about {
  padding: 30px 60px;
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about h1 {
  text-align: center;
  font-weight: 600;
  color: #fff;
  text-decoration-line: underline;
  text-decoration-color: #fff;
  padding: 5px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CSS for image aboutContainer */
.aboutIMG {
  display: flex;
  justify-content: space-between; /* Adjust this property to control spacing between images */
  align-items: center; /* Center the images vertically within the aboutContainer */
}

/* CSS for individual image */
.imgA img {
  max-width: 100%;
  height: auto;
  padding-right: 15px;
  border-radius: 5px; 
  margin: 5px; /* Adjust margin for spacing between images */
  transition: transform 0.3s; /* Add a hover effect */
}

.imgA img:hover {
  transform: scale(1.05); /* Enlarge the image on hover */
  opacity: 0.8;
}

.imgA:last-child img {
  height: 210px;
  width: 500px;
}

.aboutDetail button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #333333;
  background-color: white; 
  font-size: 16px;
  border: 1px solid #527e79;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.aboutDetail button a {
  text-decoration: none;
  color: #333333;
}

.aboutDetail button:hover {
  border: 1px solid #fff;
  transform: scale(1.05); /* Enlarge the button on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  background-color: #76ada9;
}


.aboutDetail .aboutContainer {
  display: flex;
}
.aboutDetail h2 {
  color: #333333;
  text-decoration-line: underline;
}
.aboutDetail .aboutContainer img {
  width: 300px;
  height: 200px;
  border: 2px solid #527e79;
  border-radius: 5px;
  margin: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; 
}

.aboutDetail .aboutContainer img:hover {
  transform: scale(1.05); /* Enlarge the image on hover */
  opacity: 0.8;
}

.aboutContainer {
  border: 1px solid #14786a;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0;
}
.aboutContainer h2 {
  margin: 10px;
  color: #14786a;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.aboutContainer p {
  margin: 0 10px;
  color: #333333;
  font-size: 16px;
}
.abouthead p, .typeEV p,ul li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333333;
}
